<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Range type</key>
	<array>
		<dict>
			<key>Value</key>
			<string>Normal</string>
			<key>Probability</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>Value</key>
			<string>Empty</string>
			<key>Probability</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>Value</key>
			<string>Lock</string>
			<key>Probability</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Range value</key>
	<array>
		<dict>
			<key>Value</key>
			<integer>5</integer>
			<key>Probability</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Value</key>
			<integer>2</integer>
			<key>Probability</key>
			<integer>25</integer>
		</dict>
	</array>
	<key>Start rows</key>
	<integer>4</integer>
	<key>Price to complete</key>
	<integer>400</integer>
	<key>Price row</key>
	<integer>25</integer>
	<key>Price tile</key>
	<integer>5</integer>
	<key>Rows</key>
	<integer>12</integer>
	<key>Cols</key>
	<integer>9</integer>
	<key>Comparison</key>
	<integer>10</integer>
	<key>Maximum value</key>
	<integer>9</integer>
	<key>Minimum value</key>
	<integer>1</integer>
</dict>
</plist>
